/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Wix+Madefor+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');

header { /* Header at the top of the page */
    color: #202020;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #92c938;
    padding: 0px;
    line-height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}
.button { /* Return to Home button located within the header */
    font-family: 'Material Symbols Outlined', sans-serif;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 8px;
    top: 8px;
    margin-right: auto;
    background-color: #5f6263;
    color: #ffffff;
    border: none;
    padding: 8px 27px;
    cursor: pointer;
    border-radius: 5px;
}
h3 { /* Text in the header of the page */
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0;
    text-align: center;
}
h1 { /* The main title on the page, "Electric Vehicles (EVs) and Their Impact on the Environment" */
    font-family: 'Akshar', sans-serif;
    font-size: 96px;
    color: #FFFFFF;
    margin-top: 150px;
    line-height: 1.0;
    text-shadow: 0px 0px 15px #00000060;
}
h2 { /* Title of the block of text */
    font-family: 'Wix Madefor Display', sans-serif;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 15px;
}
p { /* Text within the block of text */
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.1;
    margin-bottom: 10px;
}
div { /* Background box for the block of text */
    background-color: #0000008f;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border: 0px solid #ccc;
    border-radius: 10px;
}
.text-block { /* Modify size for the background box */
    max-width: 800px;
    margin: 0 auto;
}
body { /* Currently unused, depreciated by the video background */
    padding-top: 40px;
    background-image: linear-gradient(to bottom, #cbd5d8, #5f6263);
    background-size: 100% 135%;
    margin-bottom: 30px;
}
h4 { /* "Please click on the following options to learn more" */
    font-family: 'Wix Madefor Display', sans-serif;
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 10px;
}
br {
    margin-top: 1px;
}
video { /* The video in the background. Pretty self-explanatory */
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.video-overlay { /* Used to apply a dark overlay to the video */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* The fourth value is the overlay alpha */
    z-index: -1;
}
footer { /* Fixed footer at the bottom of the page */
    position: fixed;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: #202020;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    display: flex;
}